.collection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 10px;
}

.collection > .collection-header {
	text-align: center;
}

.collection > .thumbnail-row {
	display: flex;
	flex-flow: wrap;
	margin: 0 10px;
}
