.collection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.collection > .collection-header {
	text-align: center;
}

.collection > .thumbnail-row {
	display: flex;
	flex-flow: wrap;
	margin: 0 10px;
}


.thumbnail {
	flex: 2;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-size: cover;
	overflow: hidden;
	height: 300px;
	margin: 10px;
	color: white;
}

.thumbnail.double {
	flex: 3;
}