#daily-tide-chart-wrapper {
  width: -moz-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
	height : 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	padding: 20px;
	margin-bottom: 40px;
}

#daily-tide-chart-wrapper > h1 {
	align-self: flex-start;
	margin-top: 0;
}

#daily-tide-chart {
	height: 80%;
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: flex-end;
	background: #c2f0f0;
}

.daily-tide-chart-column {
	height: 0%;
	width: 3%;
	background: #2db9b9;
	transition: height 2s;
}

.daily-tide-chart-column.now {
	background: #1e7b7b;	
}

.daily-tide-chart-hover-span {
	display: inline-block;
	height: 100%;
	width: 100%;
	z-index: 1;
}
