#daily-tide-chart {
	height: 100%;
	width: 100%;
	height: 80%;
	justify-content: space-between;
	display: flex;
	align-items: flex-end;
	background: #ffff80;
}

#daily-tide-chart-wrapper {
	padding: 20px;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 40px 40px;
	max-width: 1200px;
}

#daily-tide-chart-wrapper > h1 {
	margin-top: 0;
	align-self: flex-start;
}

.daily-tide-chart-column {
	background: #0E5269;
	transition: height 2s;
}

.daily-tide-chart-column:hover {
	background: #000;
}

.daily-tide-chart-hover-span {
	display: inline-block;
	height: 100%;
	width: 100%;
	z-index: 1;
}
