#dash {
	display: flex;
	height: 100%;
}

#dash > section {
}

#dash-left {
	flex: 1;
	border: 1px solid red;
}

#dash-right {
	display: flex;
	flex: 2;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid blue;
}

.preview {
	flex: 1;
}