/*#dash {
	display: block;
	position: absolute;
	top: 5%;
	left: 0;
	background: yellow;
	height: 95%;
	width: 100%;
}

#dash > section {
	display: inline-block;
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}

#dash-left {
	left: 0;
}

#dash-right {
	background: pink;
	right: 0;
}

#focus {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: gray;
}

.preview-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.preview {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: navy;
	height: 33.3%;
}*/


#dash {
	display: flex;
	height: 100%;
}

#dash > section {
}

#dash-left {
	flex: 1;
	height: 100%;
	background: blue;
}

#dash-right {
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	background: black;
}

#focus {

}

.preview {
	flex: 1;
a	border: 1px solid red;
}