.favorites {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

#favorites {
	padding: 40px;
}

.favorites > * {
	flex: 1;
	height: 200px;
	width: 200px;
  min-height: 200px;
  min-width: 200px;
}

.favorite-icon {
	max-height: 20px;
	max-width: 20px;
}