.favorites {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	max-width: 100%;
}

.favorites > * {
	flex: 1;
}

.favorite-icon {
	max-height: 20px;
	max-width: 20px;
}

#favorites-message {
	text-align: center;
	margin: auto;
}