#home {
	height: 100%;
	width: 100%;
}

#home-jumbotron {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	width: 100%;
	height: 650px;

	background-image: url("http://res.cloudinary.com/swell/image/upload/c_crop,h_600,w_1620,x_0,y_400/v1450226800/Unknown-1620x1080_ugchnu.jpg");
	background-size: cover;
}


#home-jumbotron + main {
	margin-top: 40px;
}

#home-jumbotron > * {
	text-align: center;
}

#search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;

	background: rgba(0, 0, 0, 0.5);
}

#search {
	text-align: center;
	width: 100%;
	color: black;
	height: 100%;
	margin: auto;
}

#search-container > form {
	width: 40%;
}

#search-container input {
	padding: 10px 0;
	border: none;
}

#search-results {
	display: flex;
	flex-direction: column;
	color: #000;
	width: 40%;
	background: #fff;
}



#search-results > p { 
	flex: 1;
	margin: 0;
}

#search:focus {
	outline: none;
}