#nav-bar{
	position: fixed;
	left: 0;

	top: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;

	height: 30px;
	z-index: 1;
}

#nav-bar.scrolled{
	opacity: 1;
	background-color: black;
	color: white;
	transition: color 2s;
	transition: background 2s ;
}