nav .user-form {
	padding: 0px 10px;
	margin: 0px;
	margin-top: -4px;
	height: 100%;

}

.user-form * {
	margin-left: 3px;
	margin-right: 3px;
}

.user-form .form-input {
}

.user-form .form-submit {
	max-height: 5%;
	border-radius: 5px;
}