/*see also menu.css and navbar_form.css*/

nav {
	background-color: #009999;
	height: 40px;
}

.nav-item {
	margin: auto 0px;
	position: relative;
	top: 25%;
	color: white;
}

.nav-item.nav-icon {
	font-weight: bold;
}
.nav-item.left {
	float: left;
	margin-left: 10px;
}

.nav-item.right {
	float: right;
	margin-right: 10px;
}

#swell {
	background: inherit;
	width: 100%;
	margin: auto;
}

#app {
	background: inherit;
}
