nav .user-form {
	display: block;
	padding: 0px 10px;
	margin: 0px;
	margin-top: -4px;
	height: 100%;
}

.user-form * {
	margin-left: 3px;
	margin-right: 3px;
}

.user-form .form-submit {
	border-radius: 5px;
}