#background { 
    z-index: -2;
    height: 100%;
}

.page-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;

}

.fade-in {
    opacity: 1;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

h1 {
	font-family: sans-serif;
	color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}
