#spotlight{
	height: 400px;
	display: flex;
	justify-content: center;
}


#spotlight > * {
	margin: 20px;

}

#spotlight img {
	max-height: 100%;
	max-width: 100%;
}

#spotlight > #image-container {
	display: flex;
	flex: 1;
}

#spotlight > .blurb {
	display: flex;
	flex: 1;
}

.blurb {
	display: flex;
	flex-direction: column;
}

.blurb > h2 {
	margin-top: 0;
}