#spotlight{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	background: white;
	border-radius: 2px;
}


#spotlight > * {
	margin: 20px;

}

#spotlight img {
	height: 400px;
}

#spotlight > #image-container {
	display: flex;
	flex: 1;
}

#spotlight > .blurb {
	display: flex;
	flex: 1;
}

.blurb {
	display: flex;
	flex-direction: column;
}

.blurb > h2 {
	margin-top: 0;
}