.thumbnail h3 {
	background: rgba(0,0,0,.5);
	padding: 10px;
}


.thumbnail {
	height: 200px;
	width: 200px;
  min-height: 200px;
  min-width: 200px;
	flex: 2;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-size: cover;
	overflow: hidden;
	margin: 10px;
	color: white;

}

.thumbnail.double {
	flex: 3;
}

.thumbnail h3.blue {
	background: rgba(63, 127, 191, .5);
}

.thumbnail h3.green {
	background: rgba(44, 234, 31, .5);
}

.thumbnail h3.gold {
	background: rgba(234, 221, 35, .5);
}

.thumbnail h3.epic {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet)
}