.thumbnail h3 {
	background: rgba(0,0,0,.5);
	padding: 10px;
}


.thumbnail {
	flex: 2;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-size: cover;
	overflow: hidden;
	height: 300px;
	margin: 10px;
	color: white;
}

.thumbnail.double {
	flex: 3;
}

.thumbnail h3.blue {
	background: blue;
}

.thumbnail h3.green {
	background: green;
}

.thumbnail h3.gold {
	background: gold;
}

.thumbnail h3.epic {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet)
}