#waves-detail {
	min-width: 300px;
	min-height: 600px;	
	display: flex;
	flex-direction: column;
}

#waves-detail-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#waves-detail-item {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.swell-detail-arrow {
	max-height: 80px;
	max-width: 80px;
}