.weather-box {
	padding: 20px;
	background: rgba(0,0,0,.5);
}
.weather-components{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.weather-icon {
	max-height: 80px;
	max-width: 80px;
}

.weather-tide-icon {
	max-height: 20px;
	max-width: 20px;
	margin: 0 10px;
}

.weather-icon-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}